@import '@sodraskog/unity/sass/_settings';

.facts {
  margin: 0 0 $spacer;
  padding: $spacer;
  background-color: $blue-20;
  float: right;
  &.is-right {
    @media (min-width: 960px) {
      float: right;
      margin: 0 0 $spacer $spacer;
      width: 50%;
      width: 33%;
    }
  }

  &.is-left {
    @media (min-width: 960px) {
      float: left;
      margin: 0 $spacer $spacer 0;
      width: 50%;
      width: 33%;
    }
  }

  p {
    overflow: hidden;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.facts-heading {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 5px;
  overflow: hidden;
}

.facts-subheading {
  font-weight: 700;
}
