.market-selector-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .market-selector-content {
    width: 50em;
    max-width: 100%;
    background-image: url('/static/img/sodra-background-map.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    padding: 3em 5em;

    .market-selector-intro {
      .sodra-logo {
        width: 8em;
        height: 8em;
        margin: auto;
        display: block;
        margin-bottom: 2em;
      }

      h1 {
        font-size: 2.2em;
        margin: 0 0 0.3em 0;
        text-align: center;
      }
    }

    ul.market-list {
      width: 100%;
      margin: auto;
      list-style: none;
      padding: 0;
      margin: 0 auto 4em auto;
      display: inline-block;
      text-align: center;

      li {
        padding: 0.4em;
        width: 32.9%;
        display: inline-block;
        min-width: 197px;

        .dropdown {
          width: 100%;
          height: 40px;
          position: relative;
        }

        .dropdown-toggle {
          display: inline-block;
          vertical-align: middle;
          color: $black;
          font-size: 11px;
          padding-right: 20px;
          background-image: $iconAngleDown;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 14px;
          &.is-active {
            font-weight: 700;
            background-image: $iconAngleUp;
          }
        }

        .dropdown-menu {
          display: none;
          position: absolute;
          left: 0;
          top: 40px;
          min-width: 160px;
          z-index: 99;
          background-color: #fff;
          -khtml-box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 50px rgb(0 0 0 / 25%);

          &.is-open {
            display: block;
          }

          &__item {
            display: block;
            padding: 0 30px;
            font-size: 13px;
            height: 50px;
            line-height: 50px;
            pointer-events: all;
            color: $black;
          }
        }

        > a,
        button,
        .dropdown > a,
        .dropdown > button {
          float: left;
          background-color: $blue-50 !important;
          line-height: 40px;
          height: 40px;
          text-transform: none;
          padding: 0 0.4em;
          width: 100%;
          color: $black;
          display: inline-block;
          font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          text-align: center;
          font-size: 0.8em;
          font-weight: 600;
          overflow: initial;
          vertical-align: initial;
          background-position: center right 10px;

          &:hover,
          &:active,
          &:focus {
            background-color: $blue-20;
          }

          &.suggested-item {
            background-color: $blue !important;
          }
        }
      }

      .dropdown-menu {
        width: 100%;
      }
    }

    .market-selector-end {
      clear: both;
      font-size: 0.7em;
      width: 45em;
      margin: auto;
      max-width: 100%;
      line-height: 1.6em;

      p {
        font-size: 0.813rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .market-selector-page .market-selector-content {
    padding: 1em;
    background-position: center;
    background-size: 150%;
  }

  .market-selector-page .market-selector-content ul.market-list {
    margin-bottom: 2em;
  }
}
