@import './variables';
@import '@sodraskog/unity/sass/_settings';
@import './market-selector';

.c-list {
  &--autocomplete {
    position: absolute;
    left: 0;
    top: 2.875rem;
  }
}

.o-filter-list-type {
  position: absolute;
  top: 0;
  right: 0;
  color: $link-color;
  background: transparent;
  font-size: 40px;
  i {
    font-size: 40px;
  }
}

.block {
  opacity: 1 !important;
}

.c-image:last-child img {
  display: block !important;
}

.c-card {
  &__image {
    position: relative;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

iframe {
  width: 100%;
  min-height: 480px;
  border: none;
}
